{% extends 'base.html' %}

{% block head %}

    <title>Home</title>

{% endblock head %}


{% block body %}

<body style="background-color: {{ background_color }}">




    <h1>Password Kitchen</h1>

        <div class="table-container">
            <table>

                <td>
                    <form action="{{ url_for('hash_password') }}" method="POST">
                        <input type="text" name="password" value="{{ password }}" placeholder="password"><br>
                        <input type="submit" value="Hash it!"><br>
                        <textarea name="hashed-password" rows="5" cols="45" placeholder="hash">{{ hashed }}</textarea><br>
                    </form>
                </td>

                <td>
                    <form action="{{ url_for('verify_password') }}" method="POST">
                        <input type="text" name="verify-password" value="{{ verify_password }}" placeholder="password"><br>
                        <input type="submit" value="Verify it!"><br>
                        <textarea name="verify-hashed-password" rows="5" cols="45" placeholder="hash">{{ verify_hashed_password }}</textarea><br>

                        {% if match_message %}
                            <p>{{ match_message }}</p>
                        {% endif %}

                    </form>
                </td>

            </table>
        </div>

</body>

{% endblock body %}
